<div class="row">
	<div class="col-md-12">
		<div class="btn-group">
			<button class="btn btn-warning">Topic</button>
			<button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu">
				<li><a data-href="all-topics">All Topics</a></li>
				<li class="divider"></li>
				<li><a data-href="physics">Physics</a></li>
				<li><a data-href="engineering">Engineering</a></li>
			</ul>
			<button class="btn btn-success">Source</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<!-- test ui-codemirror package -->
		<text-angular name="test" ta-text-editor-setup="textAreaSetup" ui-codemirror-opts="codemirrorEditorOptions" ng-model="qnaContent" class="ta-root focussed" ta-toolbar-class="well well-sm"></text-angular>

	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div ui-codemirror ui-codemirror-opts="codemirrorEditorOptions"></div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 text-center">
		
		<div class="input-group">
			<span class="input-group-addon">
				<input type="checkbox" ng-model="updateMode" />
			</span>
			<input type="text" readonly class="form-control" value="Edit Existing QNAs" />
			<span class="input-group-btn">
				<button class="btn btn-default">{{ updateMode ? "Update" : "Add" }} QNA</button>
			</span>
		</div>
	</div>
</div>