<script type="text/ng-template" id="topicNode.html">
	<li class="dropdown-submenu" ng-repeat="parentTopic in parentTopics" ng-init="initAddTopic($last, $event)" ng-click="toggleDragging()">
		<a draggable-topic ng-click="updateTopic($event)">{{parentTopic.name}}</a>
		<ul class="dropdown-menu" dragging="toggleDragging()" ng-if="parentTopic.subtopics.length > 0 && !dragging" ng-include="'topicNode.html'" ng-init="parentTopics = parentTopic.subtopics">
		</ul>
	</li>
</script>

<div class="row">
	<!-- <Topic-Selector> -->
	<div class="col-md-12">
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{{ selectedTopic || 'Topics' }} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" id="topics" ng-include="'topicNode.html'" ng-init="parentTopics = topics.subtopics">
				
				<li class="text-center lastEntry">
					<a ng-click="newTopicEntry($event)">
						<span class="glyphicon glyphicon-plus"></span>
					</a>
					
				</li>
			</ul>
		</div>
	</div>
</div>